<div class="container">
  <%= form_with model: @product, local: true do |form| %>
    <% if @product.errors.any? %>
      <div class="alert alert-danger">
        <h4 class="alert-heading">There were some errors:</h4>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: "form-control #{'is-invalid' if @product.errors[:name].any?}" %>
      <% if @product.errors[:name].any? %>
        <div class="invalid-feedback">
          <%= @product.errors[:name].join(', ') %>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: "form-control #{'is-invalid' if @product.errors[:description].any?}" %>
      <% if @product.errors[:description].any? %>
        <div class="invalid-feedback">
          <%= @product.errors[:description].join(', ') %>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :price, class: 'form-label' %>
      <%= form.number_field :price, step: 0.01, class: "form-control #{'is-invalid' if @product.errors[:price].any?}" %>
      <% if @product.errors[:price].any? %>
        <div class="invalid-feedback">
          <%= @product.errors[:price].join(', ') %>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :currency, class: 'form-label' %>
      <%= form.select :currency, options_for_select([['IDR', 'IDR'], ['USD', 'USD']], @product.currency), {}, { class: 'form-control' } %>
    </div>
    <br />
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  <% end %>

</div>
