<tr id="product_<%= product.id %>">
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td><%= formatted_price(product) %></td>
  <td>
    <%= link_to product do %>
      <i class="fa fa-eye"></i>
    <% end %>
  </td>
  <td>
    <%= link_to edit_product_path(product) do %>
      <i class="fa fa-edit"></i>
    <% end %>
  </td>
  <td>
    <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </td>
</tr>
